/* footer */

.page__footer {
  background-color: #000000;
}

.footer__container {
  max-width: 684px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 66px;
  padding-bottom: 70px;

  @media screen and (min-width: 481px) and (max-width: 992px) {
    padding-top: 57px;
    padding-bottom: 56px;
  }

  @media screen and (max-width: 480px) {
    max-width: 303px;
    padding-top: 38px;
    padding-bottom: 47px;
  }
}

.section__title-contacts {
  color: #fefefe;
  text-align: center;
  padding-bottom: 22px;

  @media screen and (max-width: 480px) {
    padding-bottom: 8px;
  }
}

.contacts__text {
  @extend %text-style;
  font-size: 16px;
  line-height: 28px;
  color: #b9b9b9;
  text-align: center;
  margin: 0;

  @media screen and (max-width: 480px) {
    font-size: 12px;
    line-height: 20px;
  }
}
.contacts__text-span {
  @media screen and (max-width: 480px) {
    display: none;
  }
}
.contacts__icons {
  @extend %list-reset;
  display: grid;
  grid-template-columns: repeat(5, 34px);
  grid-template-rows: 34px;
  justify-content: center;
  grid-gap: 6px;
  padding-top: 37px;
  padding-bottom: 34px;

  @media screen and (max-width: 480px) {
    padding-top: 26px;
    padding-bottom: 25px;
  }
}
.contacts__details {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    text-align: center;
  }
}
.contacts__info {
  @extend %text-style;

  font-size: 16px;
  line-height: 26px;
  color: #b9b9b9;

  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}
