/* header and menu */

.page__nav {
  position: relative;
}
.nav__toggle {
  display: none;

  @media screen and (max-width: 480px) {
    display: block;
    position: absolute;
    top: 23px;
    right: 0;
    background-color: #000000;
    color: #fff;
    border: none;
    width: 44px;
    height: 37px;
    padding: 0;
    &::after {
      content: "";
      display: block;
      // display: none;
      width: 100%;
      height: 100%;
      background: url(../../dist/images/burger-button.png) center center /
        contain no-repeat;
    }
  }
}
.nav__toggle-open {
  @media screen and (max-width: 480px) {
    &::after {
      background: url(../../dist/images/close-button.png) center center /
        contain no-repeat;
      display: block;
    }
  }
}

.nav__content--wrapper {
  @media screen and (max-width: 480px) {
    display: none;
  }
}
.nav__content--wrapper-open {
  @media screen and (max-width: 480px) {
    display: block;
  }
}

.header__menu {
  @extend %list-reset;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 182px;
    position: absolute;
    top: 60px;
    right: 0;
  }
}

.menu__item {
  padding: 45px 68px 51px 0;

  &:last-child {
    padding: 45px 0 51px 0;
  }

  @media screen and (min-width: 993px) and (max-width: 1200px) {
    padding: 45px 68px 51px 0;
    &:last-child {
      padding: 45px 0 51px 0;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 992px) {
    padding: 41px 34px 43px 0;
    &:last-child {
      padding: 41px 0 43px 0;
    }
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    padding: 5.5px 0 2.5px;
    background-color: #f5f5f5;
    &:hover {
      background-color: #e5e5e5;
    }
    &:last-child {
      padding: 5.5px 0 2.5px;
    }
  }
}
.menu__link {
  font-weight: normal;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: $heading-color;

  // &:focus {
  //   color: #57a4a4;
  // }

  @media screen and (max-width: 480px) {
    padding-left: 13px;
  }
}

.menu__link-active {
  color: #57a4a4;
}
