/* instagram section */

.instagram {
  background-color: rgba(0, 0, 0, 0.03);

  @media screen and (max-width: 480px) {
    background-color: #ffffff;
  }
}

.instagram__header {
  padding: 47px 0 24px 0;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 993px) and (max-width: 1200px) {
    padding: 47px 0 24px 0;
  }
  @media screen and (min-width: 481px) and (max-width: 992px) {
    padding-bottom: 35px;
  }
  @media screen and (max-width: 480px) {
    padding-top: 0;
    padding-bottom: 13px;
  }
}

.section__title-instagram {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.section__title-instagram__mobile {
  display: none;

  @media screen and (max-width: 480px) {
    display: block;
  }
}
.section__link {
  @extend %title-style;
  font-size: 13px;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.instagram__wrapper {
  @extend %list-reset;
  padding-bottom: 49px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  grid-template-rows: 285px;

  @media screen and (min-width: 993px) and (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  @media screen and (min-width: 481px) and (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  @media screen and (max-width: 480px) {
    grid-template-rows: 301px;
    grid-template-columns: 301px;
  }
}

.instagram__image {
  width: 100%;
  height: 100%;

  @media screen and (min-width: 993px) and (max-width: 1200px) {
    max-width: 285px;
    max-height: 285px;
  }
  @media screen and (min-width: 481px) and (max-width: 992px) {
    max-width: 250px;
    max-height: 250px;
  }
  @media (max-width: 480px) {
    max-width: 301px;
    max-height: 301px;
  }
}

.instagram__item:last-child {
  @media screen and (min-width: 481px) and (max-width: 992px) {
    display: none;
  }
}
.instagram__item:nth-child(2),
.instagram__item:nth-child(3),
.instagram__item:nth-child(4) {
  @media screen and (max-width: 480px) {
    display: none;
  }
}
