.page__body {
  margin: 0;
  font-family: $font-family;
  min-width: 1400px;
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    min-width: 1190px;
  }
  @media screen and (min-width: 481px) and (max-width: 992px) {
    min-width: 940px;
  }
  @media screen and (max-width: 480px) {
    min-width: 373px;
  }
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    max-width: 1024px;
  }
  @media screen and (min-width: 481px) and (max-width: 992px) {
    max-width: 768px;
  }
  @media screen and (max-width: 480px) {
    max-width: 320px;
  }
}

.section__title {
  @extend %title-style;
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}
