@mixin containerWidth($maxDeviceWidth, $maxContainerWidth) {
  @media (max-width: $maxDeviceWidth) {
    max-width: $maxContainerWidth;
  }
}

@mixin pageWidth($maxDeviceWidth, $minPageWidth) {
  @media (max-width: $maxDeviceWidth) {
    min-width: $minPageWidth;
  }
}

%list-reset {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

%title-style {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  color: $heading-color;
  text-transform: uppercase;
}

%text-style {
  font-style: normal;
  font-weight: normal;
}
