/* Posts section */

.main__banner {
  width: 100%;
  height: 100%;
  margin-bottom: 66px;

  @media screen and (min-width: 481px) and (max-width: 992px) {
    margin-bottom: 56px;
  }

  @media screen and (max-width: 480px) {
    padding-top: 83px;
    margin-bottom: 34px;
  }
}

.posts__list {
  @extend %list-reset;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 140px);
  column-gap: 25px;
  row-gap: 32px;
  margin-top: 24px;
  margin-bottom: 69px;

  @media screen and (min-width: 993px) and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 140px);
  }
  @media screen and (min-width: 481px) and (max-width: 992px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 140px);
    margin-bottom: 77.5px;
  }
  @media screen and (max-width: 480px) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 28.5px;
  }
}
.posts__item:nth-child(4) {
  @media screen and (max-width: 480px) {
    display: none;
  }
}
.posts__link {
  display: grid;
  grid-template-columns: 1fr 3fr;

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}
.posts__image {
  margin-right: 21px;

  @media screen and (max-width: 480px) {
    margin-bottom: 11px;
  }
}

.posts__title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: $heading-color;
  align-items: center;
  margin: 0;

  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}

.posts__info {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #7c7c7c;
  align-items: center;
  margin: 0;

  @media screen and (max-width: 480px) {
    font-size: 11px;
  }
}

.posts__text {
  @extend %text-style;
  font-size: 14px;
  line-height: 23px;
  color: #5c5c5c;
  margin: 0;
  padding-top: 13px;

  @media screen and (max-width: 480px) {
    display: none;
  }
}
